{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Saurabh Kumbhar</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/Saurabh.jpg' %}" >
					<hr>
					<h4>Hi I'm Saurabh!</h4>
					<p>I love coding.</p>
					<p>An avid programmer always looking to learn something new.</p>
					
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>ABOUT ME </h4>
					<hr>
				
						
					<p>HELLO WORLD! My name is Saurabh I live in Navi-Mumbai, i have completed my Gradution in IT From Mumbai University .</p>
					<p>I've been working on python from 2 year and Django from 1year, developing technologies from standalone application.Also completed projects on Python and Django.</p>



					<ul class="social-links">
					<h3>Find me on Github & Linkedin</h3>
					<a target="_blank" href="https://github.com/Saurabhkumbhar69">Github:@Saurabhkumbhar69</a>
					<br>
					<a target="_blank" href="https://www.linkedin.com/in/saurabh-k-209581126/">Linkedin:@SaurabhKumbhar</a>
					<p>Python Developer with Primary Focus on Python/Django: <a target="_blank" href="Saurabh's Resumeupdated.pdf">Download Resume</a></p>
					
			</div>
					</ul>

				</div>
			</div>


		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects</h5>
					<hr>
					<p>Travel Website	.</p>
					<p>PLATFORM : Python/Django, HTML/CSS/Javascript,PostgreSql</p>
					<p>Built Travel Website ,Used Existing templates from GOOGLE and I made the static content into Dynamic,The layout and Prices will be fixed .Where you can book your Location into Affordable prices</p>

					<hr>
					<p>Portfolio Website.</p>
					<p>PLATFORM : Python/Django,HTML/CSS/Javascript/Bootstrap</p>
					<p>Built Portfolio  Website Where I can Showcase My profile.</p>

					<hr>
					<p>Customer Management Platoform.</p>
					<p>PLATFORM : Python/Django,HTML/CSS/Javascript/Bootstrap/Heroku</p>
					<p>Desciption : This App Stores information in adatabase, kind of like a CRM
						 </p>

					<hr>
					<p>TO-Do App.</p>
					<p>PLATFORM : Python/Django,HTML/CSS/Javascript/Bootstrap</p>
					<p>Desciption :  </p>


					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p><p>Expertise in Core python and OOPS concept.</p>
						<p>Good understandings of Front-end Technologies.</p>
						<p>Good grasp of Web Framework(Django)</p>
						<p>knowledge On Object Relational mapper</p>
						<p>Knowledge Of server side Templating Language--Jinja2 </p>
						<p>Good debugging skill</p>
						<p>code versioning tools understand---git</p>
						<p>Knowledge to use python packages ---numpy</p>
						<p>Version Control ---github.</p>
</p>
					<p>PS: Working on JavaScript/BootStrap,Java,SQL/MySQL/Postgre/Heroku.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Python & Django</h5>
					<hr>

					
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>I can help with the following:</h5>
				<hr>
				<p> Back-end development with Django/Python
 				<p>Front-end development with HTML5 , CSS ,	JS.</p>
 				<p>Drop a mail at kumbharsahil80@gmail.com or call me at +918652096952</p>
				</div>
			</div>
		</div>
		<br>
	</div>

			
    

</body>
</html>